In [1]:
import pathlib
ROOT = pathlib.Path().resolve()
print(ROOT)

/home/carnufex/aoc-2024/aoc_2024/day1

In [2]:
import polars as pl
import pandas as pd
df = pl.read_csv(ROOT / "day1.csv", has_header=True, separator=" ")
df
# df["first"] = df[0].apply(lambda x: x.str.split("   ")[0])
# df["second"] = df[0].apply(lambda x: x.str.split("   ")[1])

shape: (1_000, 4)
┌───────┬──────┬───────────────┬────────┐
│ first ┆      ┆ _duplicated_0 ┆ second │
│ ---   ┆ ---  ┆ ---           ┆ ---    │
│ i64   ┆ str  ┆ str           ┆ i64    │
╞═══════╪══════╪═══════════════╪════════╡
│ 18944 ┆ null ┆ null          ┆ 47230  │
│ 94847 ┆ null ┆ null          ┆ 63037  │
│ 93893 ┆ null ┆ null          ┆ 35622  │
│ 37174 ┆ null ┆ null          ┆ 43365  │
│ 77982 ┆ null ┆ null          ┆ 51397  │
│ …     ┆ …    ┆ …             ┆ …      │
│ 83605 ┆ null ┆ null          ┆ 21276  │
│ 51080 ┆ null ┆ null          ┆ 32589  │
│ 16575 ┆ null ┆ null          ┆ 21128  │
│ 31651 ┆ null ┆ null          ┆ 49166  │
│ 66721 ┆ null ┆ null          ┆ 94774  │
└───────┴──────┴───────────────┴────────┘

In [3]:
first_sort = df["first"].sort()
second_sort = df["second"].sort()
print(first_sort)
print(second_sort)

shape: (1_000,)
Series: 'first' [i64]
[
	10178
	10197
	10212
	10213
	10242
	…
	99414
	99586
	99626
	99730
	99854
]
shape: (1_000,)
Series: 'second' [i64]
[
	10024
	10074
	10212
	10212
	10212
	…
	98335
	99080
	99196
	99806
	99891
]

In [4]:
abs(first_sort - second_sort).sum()

1590491

In [5]:
dupes = first_sort.is_in(second_sort).sum()
print(f"Number of duplicates in first_sort present in second_sort: {dupes}")

Number of duplicates in first_sort present in second_sort: 37

shape: (1_000,)
Series: 'first' [i64]
[
	10178
	10197
	10212
	10213
	10242
	…
	99414
	99586
	99626
	99730
	99854
]

In [81]:
first_counts = first_sort.value_counts()

In [83]:
first_sort[0]

10178

In [99]:
(
        pl.DataFrame({
        "first": first_sort,
        "second": second_sort
    })
    .group_by("first")
    .count()
)

/tmp/ipykernel_16407/935838626.py:7: DeprecationWarning: `GroupBy.count` is deprecated. It has been renamed to `len`.
  .count()

shape: (1_000, 2)
┌───────┬───────┐
│ first ┆ count │
│ ---   ┆ ---   │
│ i64   ┆ u32   │
╞═══════╪═══════╡
│ 10178 ┆ 1     │
│ 10197 ┆ 1     │
│ 10212 ┆ 1     │
│ 10213 ┆ 1     │
│ 10242 ┆ 1     │
│ …     ┆ …     │
│ 99414 ┆ 1     │
│ 99586 ┆ 1     │
│ 99626 ┆ 1     │
│ 99730 ┆ 1     │
│ 99854 ┆ 1     │
└───────┴───────┘

In [7]:
df

shape: (1_000, 4)
┌───────┬──────┬───────────────┬────────┐
│ first ┆      ┆ _duplicated_0 ┆ second │
│ ---   ┆ ---  ┆ ---           ┆ ---    │
│ i64   ┆ str  ┆ str           ┆ i64    │
╞═══════╪══════╪═══════════════╪════════╡
│ 18944 ┆ null ┆ null          ┆ 47230  │
│ 94847 ┆ null ┆ null          ┆ 63037  │
│ 93893 ┆ null ┆ null          ┆ 35622  │
│ 37174 ┆ null ┆ null          ┆ 43365  │
│ 77982 ┆ null ┆ null          ┆ 51397  │
│ …     ┆ …    ┆ …             ┆ …      │
│ 83605 ┆ null ┆ null          ┆ 21276  │
│ 51080 ┆ null ┆ null          ┆ 32589  │
│ 16575 ┆ null ┆ null          ┆ 21128  │
│ 31651 ┆ null ┆ null          ┆ 49166  │
│ 66721 ┆ null ┆ null          ┆ 94774  │
└───────┴──────┴───────────────┴────────┘

In [18]:
total = 0
for row in df.iter_rows():
    count = 0
    for i in range(0, len(df)):
        if row[0] == df["second"][i]:
            count += 1
    total += count*row[0]
print(total)

22588371